.wrap-testimonial {
    margin-top: 80px;
    padding: 30px;
    text-align: center;
    background: #473BF0;
    color: #ffffff;
}

.header-heading {
    font-size: Gilroy;
    font-weight: 700;
    font-size: 13px;
    line-height: 15.72px;
    letter-spacing: 1.63px;
    // color: #F64B4B;
    color: #68D585;

}

.header-content {
        font-family: Gilroy;
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -1.2000000477px;
        text-align: center;
        width: 596px;
        margin-left: 266px;
        /* margin-top: 35px; */
        padding: 21px;
        /* padding-left: 267px; */
}

.testimonial-img {
    margin-top: 20px;
}