.hero-wrap {
    margin-left: 50px;
    margin-top: 70px;
    // width: 500px;
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
}

.hero-left {
    width: 497px;
}

.start-business-con {
    color: #F64B4B;
    line-height: 15.72px;
    letter-spacing: 1.63px;
    font-size: 13px;
    font-weight: 700;
    width: 240px;
    height: 16px;
    font-family: Gilroy;
    margin-left: 5px;
}

.shift-your-business-con {
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -2px;
    color: #161C2D;
    font-family: Gilroy;
    margin-top: 20px;
}

.con-sample {
    // font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    // letter-spacing: 0-2px;
    color: #161C2D;
    // font-family: Gilroy;
    margin-top: 20px;
}

.hero-left-but {
    margin-top: 50px;
}