<!-- <p>case-studies works!</p> -->

<div class="wrap-case-studies">
    <div class="header ">
        <span class="heading-our headline">
            Case studies
        </span>
        <span class="header-text">
            <p class="header-text-con">Our works describe why we are the best in the business</p>
        </span>
    </div>

    <div class="main-section">

        
        <div class="section-case-studies-left">
            <div class="sec-box-1">
                <span>
                    <img
                    src="https://s3-alpha-sig.figma.com/img/74b1/501d/6ca59754c6fdc9707609c1c1fdb21635?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=f-WoqarBE~34Fjf5Psa8Sn4gtzgCUapMNsByI-vo0EQKruti1v4Eij9U2Pki8LajY09mY92JMPmdTfElwtT56EtVSbUzww25~gcxmFoofeRfFnLBd7bHUtJ1K2~XLa~3VefoYGvXSJw4iRDyCW0BORLSZ-X1Wo1ZDXcV01GL-bPR5z1-ZBLCsUlW~m5ZvywN6w17b7wf5lBHMwxDpxLTygW7BC89mPuOjhG4U1yxsGZ~FCKV1WVfCUNCUJ4d1s-OB9wLA9G0OcMa~9QrbdmcHxNnRPPvnjzwV5R0Y8TYirMds56tswT4jHXaieiqsCISoHpGTZjmP3KIhDz34bKUGw__">
                </span>
                <span>
                    <p class="para-case-stud">Graphic Design</p>
                    <p class="next-para-case-stud">Graphic Design</p>
                </span>
            </div>
            <div class="sec-box-2">
                <span>
                    <img
                    src="https://s3-alpha-sig.figma.com/img/a7b0/5474/d70ce6a0469e5928d6265a39012f0252?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ndIn-9sQJeOZuPN7kIkrBwTK2c5EHwjMyNrkqRFqpIuy985RE5LgKzkTQdAGkiBu8R0ALsOvbE6Y6gC2WGUOd8CHZKIqKe4OLrdgist807m~2dxtKvdfMisGepurBF1TjdMsKCfQIaUQEdo2T-DyCYt6YEGNVQ3-97aeHWAGDpFPZVURbzyeFFUDLY9efRGk0OjmN0ox6mu~S3hIIJtnHV7imMpnGuWSdp27Zs47GIOKfK6kgITr0EcJtIoozLC-pSijUH45PCDlfjQqadAD8nfnOk2Tjru9GGmC8aThEFMuliLTdTNofvnH6WNOttNElNzg5oeLy~Rf1Q91r5i7~Q__">
                </span>
                <span>
                    <p class="para-case-stud">Graphic Design</p>
                    <p class="next-para-case-stud">AB.S Snack Packaging</p>
                </span>
            </div>
        </div>
        
        <div class="section-case-studies-right">
            <div class="sec-box-3">
                <span>
                    <img
                    src="https://s3-alpha-sig.figma.com/img/6fd6/9ffe/d9f27ae47f6a82913236a6a84b5d81a3?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=C7NnHOnVIqJhnHeyD8xLiEZeEyN8W5wmUv0mLz8nzqeAy82sEn3UWJARkebWKTVjKtn7WdiuwbWViVHaZ5MecqtfzUM19yKC7y1Ucp32u43f0nLGWIMzgZloJX2kN3ctUiAyWDJd~P-Gzkqe3rM-MwtdHng3gS0N2FRTHW68AG4pCyAkGcjzoplwozATiVeB0SjEiVvrVXRMtnN0M3OU2y5BiBzjscFugfuwwiRxszHURSDR~Jqdn0XVOYpAaebn52uuOYZUPIyOee3DsiW5hd9Pa6gJgPM4hYz-DC5odsRVw7ojSEKeDj8idJp6NlKkZauB6Ve1zSaiAaRHXvtyCg__">
                </span>
                <span>
                    <p class="para-case-stud">Web development</p>
                    <p class="next-para-case-stud">Gradient web development</p>
                </span>
            </div>
            <div class="sec-box-4">
                <span>
                    <img
                    src="https://s3-alpha-sig.figma.com/img/b8a9/36f6/c8f46b5a8439ea9c4932b76920866a1d?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=X7lzS~nKPeOm9oVyj-OeqHAxNiGEClF0jb2XzJx6hc4Zxagnjc2qkNbLEhn6ua1LeNDQHR13ze5sPA~xbynFifPHsVBOvat1PKbejYH9ehGw7elUpOrSURTzz0JHLrOK9B6GL9Ke8t-8B7HqXbPk-dQoW~4TZcWSjd6Y~ZdDM4RWTJCui0mg4ZnVjRvnf6gwObZgzncmA17hxX1tQfGjGhambiHKC~Nzvgb3rZcehXrD3V~lKqLvZksDAAnQ~5ARYO5XPSfhsSkQa0LzgWjZ0sif5LCCP43p14A85RxUU2kOQE0NWLwx08wiP9MFq-6d2JYTgoP-90p0JrjBkWGatg__">
                </span>
                <span>
                    <p class="para-case-stud">Content Writing</p>
                    <p class="next-para-case-stud">Magazine Content Writing</p>
                </span>
            </div>
        </div>
    </div>

    <div class="footer">
        <button class="footer-but">see all works</button>
    </div>
</div>
