.wrap-test-lower {
    background: #161C2D;
    color: #ffffff;
    height: 300px;
}

.nav-lower-testimonial {
    width: 1100px;
    height: 128px;
    margin-left: 103px;
    padding: 114px;
    display: flex;
    justify-content: space-between;
}

.ready-heading {
    font-family: Gilroy;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1.2000000476837158px;
    text-align: left;
}

.heading-con {
    font-family: Gilroy;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    opacity: 65%;

}