.wrap-why-choose-us {
    margin-top: 20px;
    padding: 62px;
    background: #F4F7FA;
    width: 1100;
}

.header {
    text-align: center;
}

.con-why-choose-us {
    font-family: Gilroy;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.2000000476837158px;
    // text-align: center;
    width: 521px;
    height: 96px;
    gap: 0px;
    opacity: 0px;
    margin-left: 265px;
    margin-top: 20px;
}


// .box {
//     width: 1200px;
// }

.upper-div-con {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    padding: 20px 60px,
}

.lower-div-con {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    padding: 20px 60px;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    height: 128px;
    margin-top: 60px;
    padding: 24px;
}

.all-cont-box-heading {
    font-family: Gilroy;
    font-size: 21px;
    font-weight: 700;
    // line-height: 32px;
    letter-spacing: -0.5px;
    // text-align: left;
    color: #161C2D;
}

// .box-left {
//     margin: 192px;
// }

.footer-content {
    width: 589px;
}

.footer-content-heading {
    font-family: Gilroy;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1.2000000476837158px;
    text-align: left;
}

.footer-con {
    font-family: Gilroy;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    width: 589px;
    height: 64px;
    top: 64px;
    gap: 0px;
    opacity: 0.7px;
}

.getStartedBut {
    margin: 20px;
}